In [1]:
# import neccessary tools 

import pandas as pd
from pathlib import Path
import seaborn as sns

%matplotlib inline

In [2]:
# 1st data file algo_returns import and calculate null values.

file_algo = Path("Resources/algo_returns.csv")
df_algo = pd.read_csv(file_algo, index_col="Date", parse_dates=True, infer_datetime_format=True)
df_algo.isnull().sum()

Algo 1    0
Algo 2    6
dtype: int64

In [3]:
# print out algo_returns with null values.

df_algo.head()

              Algo 1  Algo 2
Date
2014-05-28  0.001745     NaN
2014-05-29  0.003978     NaN
2014-05-30  0.004464     NaN
2014-06-02  0.005692     NaN
2014-06-03  0.005292     NaN

In [4]:
# print out algo_returns without null values.

new_algo = df_algo.dropna()
new_algo.head()

              Algo 1    Algo 2
Date
2014-06-05  0.004062  0.013285
2014-06-06  0.001857  0.008284
2014-06-09 -0.005012  0.005668
2014-06-10  0.004406 -0.000735
2014-06-11  0.004760 -0.003761

In [5]:
# 2nd data file I_historical print out of dataframe.

file_historical = Path("Resources/l_historical.csv")
df_historical = pd.read_csv(file_historical, index_col="Date", parse_dates=True, infer_datetime_format=True)
new_historical = df_historical.dropna()
new_historical.head()

           Symbol  Close
Date
2018-01-02      L  57.99
2018-01-03      L  57.41
2018-01-04      L  57.42
2018-01-05      L  57.42
2018-01-08      L  56.86

In [6]:
# 3rd data file otex_historical print out of data frame.

file_otex = Path("Resources/otex_historical.csv")
df_otex = pd.read_csv(file_otex, index_col="Date", parse_dates=True, infer_datetime_format=True)
new_otex = df_otex.dropna()
new_otex.head()

           Symbol  Close
Date
2018-01-02   OTEX  43.58
2018-01-03   OTEX  43.07
2018-01-04   OTEX  42.91
2018-01-05   OTEX  42.57
2018-01-08   OTEX  42.16

In [7]:
# 4th data file shop_historical data frame print out.

file_shop = Path("Resources/shop_historical.csv")
df_shop = pd.read_csv(file_shop, index_col="Date", parse_dates=True, infer_datetime_format=True)
new_shop = df_shop.dropna()
new_shop.head()

           Symbol   Close
Date
2018-01-02   SHOP  132.06
2018-01-03   SHOP  135.15
2018-01-04   SHOP  137.46
2018-01-05   SHOP  137.26
2018-01-08   SHOP  139.51

In [8]:
# 5th data file sp_tsx_history print out of data frame.

file_sp_tsx = Path("Resources/sp_tsx_history.csv")
df_sp_tsx = pd.read_csv(file_sp_tsx, index_col="Date", parse_dates=True, infer_datetime_format=True)
new_sp_tsx = df_sp_tsx.dropna()
new_sp_tsx.head()

                 Close
Date
2012-10-01  $12,370.19
2012-10-02  $12,391.23
2012-10-03  $12,359.47
2012-10-04  $12,447.68
2012-10-05  $12,418.99

In [9]:
# remove dollar sign from sp_tsx_history data frame.

new_sp_tsx["Close"] = new_sp_tsx["Close"].str.replace("$","")
new_sp_tsx["Close"]

<ipython-input-9-d9919a77a434>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  new_sp_tsx["Close"] = new_sp_tsx["Close"].str.replace("$","")

Date
2012-10-01    12,370.19
2012-10-02    12,391.23
2012-10-03    12,359.47
2012-10-04    12,447.68
2012-10-05    12,418.99
                ...
2019-12-20    17,118.44
2019-12-23    17,128.71
2019-12-24    17,180.15
2019-12-27    17,168.21
2019-12-30    17,098.56
Name: Close, Length: 1818, dtype: object

In [10]:
# print out of sp_tsx_history data frame  with Daily_returns as new heading.

new_sp_tsx = new_sp_tsx.rename(columns={"Close":"Daily_returns"})
new_sp_tsx.head()

           Daily_returns
Date
2012-10-01     12,370.19
2012-10-02     12,391.23
2012-10-03     12,359.47
2012-10-04     12,447.68
2012-10-05     12,418.99

In [11]:
# 6th data file whale_returns print out of dataframe.

file_whale = Path("Resources/whale_returns.csv")
df_whale = pd.read_csv(file_whale, index_col="Date", parse_dates=True, infer_datetime_format=True)
new_whale = df_whale.dropna()
new_whale.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
2015-03-09,0.000582,0.004225,0.005843,-0.001652

In [12]:
# Combine data files algo_returns, sp_tsxhistory, and whale_returns.

combined_newfile = pd.concat([new_algo, new_sp_tsx, new_whale], axis="columns", join="inner")
combined_newfile.tail()

,Algo 1,Algo 2,Daily_returns,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,,,,
2019-04-25,0.000682,-0.007247,"16,576.10",-0.000285,-0.001291,-0.005153,0.004848
2019-04-26,0.002981,0.005256,"16,613.46",0.008149,0.009162,0.012355,0.010434
2019-04-29,0.005208,0.002829,"16,600.37",0.001254,0.002719,0.006251,0.005223
2019-04-30,-0.002944,-0.001570,"16,580.73",-0.001295,-0.002211,-0.000259,-0.003702
2019-05-01,0.000094,-0.007358,"16,502.75",-0.005847,-0.001341,-0.007936,-0.007833

In [13]:
# conduct quantitave analysis
combined_newfile_grp = combined_newfile.groupby("Date").count()
combined_newfile_grp

,Algo 1,Algo 2,Daily_returns,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,,,,
2015-03-03,1,1,1,1,1,1,1
2015-03-04,1,1,1,1,1,1,1
2015-03-05,1,1,1,1,1,1,1
2015-03-06,1,1,1,1,1,1,1
2015-03-09,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...
2019-04-25,1,1,1,1,1,1,1
2019-04-26,1,1,1,1,1,1,1
2019-04-29,1,1,1,1,1,1,1
2019-04-30,1,1,1,1,1,1,1
2019-05-01,1,1,1,1,1,1,1