In [26]:
import pandas as pd
from pathlib import Path

%matplotlib inline

In [42]:
file_algo = Path("Resources/algo_returns.csv")
df_algo = pd.read_csv(file_algo, index_col="Date", parse_dates=True, infer_datetime_format=True)
new_algo = df_algo.dropna()
new_algo.head()

              Algo 1    Algo 2
Date
2014-06-05  0.004062  0.013285
2014-06-06  0.001857  0.008284
2014-06-09 -0.005012  0.005668
2014-06-10  0.004406 -0.000735
2014-06-11  0.004760 -0.003761

In [34]:
file_historical = Path("Resources/l_historical.csv")
df_historical = pd.read_csv(file_historical, index_col="Date", parse_dates=True, infer_datetime_format=True)
new_historical = df_historical.dropna()
new_historical.head()

           Symbol  Close
Date
2018-01-02      L  57.99
2018-01-03      L  57.41
2018-01-04      L  57.42
2018-01-05      L  57.42
2018-01-08      L  56.86

In [35]:
file_otex = Path("Resources/otex_historical.csv")
df_otex = pd.read_csv(file_otex, index_col="Date", parse_dates=True, infer_datetime_format=True)
new_otex = df_otex.dropna()
new_otex.head()

           Symbol  Close
Date
2018-01-02   OTEX  43.58
2018-01-03   OTEX  43.07
2018-01-04   OTEX  42.91
2018-01-05   OTEX  42.57
2018-01-08   OTEX  42.16

In [36]:
file_shop = Path("Resources/shop_historical.csv")
df_shop = pd.read_csv(file_otex, index_col="Date", parse_dates=True, infer_datetime_format=True)
new_shop = df_shop.dropna()
new_shop.head()

           Symbol  Close
Date
2018-01-02   OTEX  43.58
2018-01-03   OTEX  43.07
2018-01-04   OTEX  42.91
2018-01-05   OTEX  42.57
2018-01-08   OTEX  42.16

In [37]:
file_sp_tsx = Path("Resources/sp_tsx_history.csv")
df_sp_tsx = pd.read_csv(file_sp_tsx, index_col="Date", parse_dates=True, infer_datetime_format=True)
new_sp_tsx = df_sp_tsx.dropna()
new_sp_tsx.head()

                 Close
Date
2012-10-01  $12,370.19
2012-10-02  $12,391.23
2012-10-03  $12,359.47
2012-10-04  $12,447.68
2012-10-05  $12,418.99

In [44]:
new_sp_tsx["Close"] = new_sp_tsx["Close"].str.replace("$","")
new_sp_tsx["Close"]

<ipython-input-44-1ba73c0224c2>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  new_sp_tsx["Close"] = new_sp_tsx["Close"].str.replace("$","")

Date
2012-10-01    12,370.19
2012-10-02    12,391.23
2012-10-03    12,359.47
2012-10-04    12,447.68
2012-10-05    12,418.99
                ...
2019-12-20    17,118.44
2019-12-23    17,128.71
2019-12-24    17,180.15
2019-12-27    17,168.21
2019-12-30    17,098.56
Name: Close, Length: 1818, dtype: object

In [39]:
file_whale = Path("Resources/whale_returns.csv")
df_whale = pd.read_csv(file_whale, index_col="Date", parse_dates=True, infer_datetime_format=True)
new_file = df_whale.dropna()
new_file.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
2015-03-09,0.000582,0.004225,0.005843,-0.001652